
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game{
    width: 450px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.game-score{
    font-size: 18px;
    border-bottom: 1px solid lavender;
    margin: 0 18px;
    padding: 15px 0 5px 0;
 }

.game-screen{
    display: flex;
    justify-content: center;
}
.game-screen-line{
    width: 0.1px;
    height: 200px;
    background-color: lavender;
    margin: 10px 50px;
}

.game-but{
    display: flex;
    justify-content: center;
    border-top: 1px solid lavender;
    padding-top: 10px;
    margin: 0 18px; 
}

.game-but button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    height: 50px;
    margin: 7px 5px;
    transform: rotate(90deg);
    background-color:  #fdc8d4;
    border-radius: 10px;
}

.game-but button img {
    width: 40px;
    height: 40px;
}

.game-result{
    font-size: 26.5px;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
}